{% extends 'layouts/base.html' %}
{% load static %}

{% block page-title %}
    Home
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

    <section id="hero" style="background-image: url({% static 'main/img/hero4.png' %});">
        <h4>Trade-in-offer</h4>
        <h2>super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button style="background-image: url({% static 'main/img/button.png' %});"><a href="{% url 'e_commerce:shop' %}" class="text-decoration-none">Shop Now</a></button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="{% static 'main/img/features/f1.png' %}" alt=""/>
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'main/img/features/f2.png' %}" alt=""/>
            <h6>Online order</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'main/img/features/f3.png' %}" alt=""/>
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'main/img/features/f4.png' %}" alt=""/>
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'main/img/features/f5.png' %}" alt=""/>
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'main/img/features/f6.png' %}" alt=""/>
            <h6>F24/7 Support</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Prodcuts</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            {% for pr in product_m %}

                <div class="pro" onclick="window.location.href='sproduct.html';">
                    <a href="{% url 'e_commerce:pdetail' id=pr.id %}" class="text-decoration-none"><img
                            src="{{ pr.album.first.images.first.image.url }}" alt=""/>
                        <div class="des">
                            <span>adidas</span>
                            <h5>{{ pr.name }}</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>${{ pr.price|floatformat }}</h4>
                        </div>
                    </a>
                    <a href="{% url 'e_commerce:addcarthome' id=pr.id %}"><i class="fal fa-shopping-cart cart"></i></a>
                </div>

            {% endfor %}
        </div>
    </section>

    <section id="banner" class="sectoin-m1" style="background-image: url({% static 'main/img/banner/b2.jpg' %});">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% Off</span>-All t-Shirts & Accessories</h2>
        <button class="normal">Explore More</button>
    </section>

    <section id="product1" class="section-p1">
        <h2>New Arrivals</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            {% for pr in product_e %}

                <div class="pro" onclick="window.location.href='sproduct.html';">
                    <a href="{% url 'e_commerce:pdetail' id=pr.id %}" class="text-decoration-none"><img
                            src="{{ pr.album.first.images.first.image.url }}" alt=""/>
                        <div class="des">
                            <span>adidas</span>
                            <h5>{{ pr.name }}</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>${{ pr.price|floatformat }}</h4>
                        </div>
                    </a>
                    <a href="{% url 'e_commerce:addcarthome' id=pr.id %}"><i class="fal fa-shopping-cart cart"></i></a>
                </div>

            {% endfor %}
        </div>
    </section>

    <section id="sm-banner" class="section-p1">
        <div class="banner-box" style="background-image: url({% static 'main/img/banner/b17.jpg' %});">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best classic dress is on sale at cara</span>
            <button class="white"><a href="{% url 'e_commerce:shop' %}" class="text-decoration-none text-white">Learn More</a></button>
        </div>
        <div class="banner-box banner-box2" style="background-image: url({% static 'main/img/banner/b10.jpg' %});">
            <h4>spring/summer</h4>
            <h2>upcoming season</h2>
            <span>The best classic dress is on sale at cara</span>
            <button class="white"><a href="{% url 'e_commerce:shop' %}" class="text-decoration-none text-white">Learn More</a></button>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box" style="background-image: url({% static 'main/img/banner/b7.jpg' %});">
            <h2>SEASAONAL SALE</h2>
            <h3>Winter Collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box2" style="background-image: url({% static 'main/img/banner/b4.jpg' %});">
            <h2>NEW FOOTWEAR COLLECTION</h2>
            <h3>Spring / Summer 2022</h3>
        </div>
        <div class="banner-box banner-box3" style="background-image: url({% static 'main/img/banner/b18.jpg' %});">
            <h2>T-SHIRTS</h2>
            <h3>New Trendy Prints</h3>
        </div>
    </section>
{% endblock %}